---
import Menu from './Menu.svelte'
---

<header class="fixed w-full">
	<div class="flex w-full flex-wrap items-center justify-between py-7">
		<a class="z-10 basis-1/3 pl-7" href="/">
			<img src="/logo_desktop.svg" class="hidden h-7 sm:block" alt="logo" />
			<img src="/logo_mobile.svg" class="block h-7 sm:hidden" alt="logo" />
		</a>
		<Menu client:load />
	</div>
</header>
