---
import Layout from '@layout/layout.astro'
import { Image } from 'astro:assets'
---

<Layout title={'404'} description="404 page">
	<main
		class="mx-auto flex min-h-[100dvh] flex-col items-center justify-center px-4 sm:mb-0 sm:flex-row-reverse sm:px-0"
	>
		<div>
			<h1 class="text-center text-9xl font-bold">404</h1>
			<h1 class="text-center text-5xl font-semibold">Page not found</h1>
		</div>
		<Image src="/404.webp" width={420} height={420} alt={'404 image'} />
	</main>
</Layout>
