---
import Layout from '@layout/layout.astro'
import { Image } from 'astro:assets'
---

<Layout title={'404'} description="404 page not found">
	<div class="flex flex-col items-center justify-center sm:flex-row">
		<Image src="/404.webp" width={420} height={420} alt={'404 image'} />
		<div class="h-full">
			<h1
				class="bg-gradient-to-tr from-apricot-700 to-apricot-400 bg-clip-text text-center text-9xl font-bold text-transparent"
			>
				404
			</h1>
			<h1 class="text-center text-5xl font-semibold">Page not found</h1>
		</div>
	</div>
</Layout>
