---
import Layout from '@layout/layout.astro'
import { Image } from 'astro:assets'
import JobAndLearn from '@components/jobAndLearn/JobAndLearn.svelte'

const work = [
	{ img: import.meta.env.BASE_URL + '/tech/work/react.svg', label: 'React/React Native' },
	{ img: import.meta.env.BASE_URL + '/tech/work/typescript.svg', label: 'Typescript' },
	{ img: import.meta.env.BASE_URL + '/tech/work/node.svg', label: 'NodeJs' },
	{ img: import.meta.env.BASE_URL + '/tech/work/next.svg', label: 'NextJs' },
	{ img: import.meta.env.BASE_URL + '/tech/work/reactQuery.svg', label: 'React Query' },
	{ img: import.meta.env.BASE_URL + '/tech/work/tailwind.svg', label: 'Tailwindcss' },
	{ img: import.meta.env.BASE_URL + '/tech/work/prisma.svg', label: 'Prisma' },
	{ img: import.meta.env.BASE_URL + '/tech/work/svelte.svg', label: 'Svelte/Sveltekit' },
	{ img: import.meta.env.BASE_URL + '/tech/work/git.svg', label: 'Git' }
]

const learn = [
	{ img: import.meta.env.BASE_URL + '/tech/learn/bun.svg', label: 'Bun' },
	{ img: import.meta.env.BASE_URL + '/tech/learn/trpc.svg', label: 'TRPC' },
	{ img: import.meta.env.BASE_URL + '/tech/learn/tauri.svg', label: 'Tauri' },
	{ img: import.meta.env.BASE_URL + '/tech/learn/python.svg', label: 'Python' },
	{ img: import.meta.env.BASE_URL + '/tech/learn/tensorflow.svg', label: 'TensorFlow' }
]
---

<Layout
	title={'About'}
	description="A description about me, my job and the technology that I like to use"
>
	<div class="mb-8 flex flex-col gap-8 sm:px-8">
		<div class="flex flex-col items-center justify-evenly sm:flex-row">
			<Image
				src={import.meta.env.BASE_URL + '/avatar.webp'}
				width={420}
				height={420}
				alt={'avatar image'}
				format="webp"
			/>
			<JobAndLearn {work} {learn} client:load />
		</div>
		<p class="max-w-5xl self-center text-justify text-lg">
			I am a web and mobile developer with two years of experience, specializing in key technologies
			such as React, JavaScript/TypeScript, Svelte, and ORM. I hold a degree in Cyber Security,
			which has contributed to solidifying my understanding of security best practices in software
			development. Throughout my career, I have been actively involved with React and React Native,
			showcasing advanced proficiency in crafting modern and highly performant user interfaces. My
			mastery of JavaScript and TypeScript has played a significant role in developing robust and
			scalable software solutions. My experience in working with databases and ORM reflects my
			ability to efficiently handle and manipulate data, ensuring optimal application performance. I
			have collaborated with clients both nationally and internationally, demonstrating a proven
			ability to understand and meet the specific requirements of diverse projects. My background in
			Cyber Security is evident in my particular attention to the security of the applications I
			develop, ensuring the protection of sensitive data. I am results-oriented and always eager to
			take on new challenges, consistently updating my skills to stay at the forefront of the web
			and mobile development landscape.
		</p>
	</div>
</Layout>
