---
import TypedText from '@components/typedText/TypedText.svelte'
import Layout from '../layout/indexLayout.astro'
---

<Layout title="Andrea Locatelli dev." description="Home of my personal portfolio blog.">
	<h1>
		Hi! I'm <span class="font-bold text-apricot-700">Andrea</span>
	</h1>
	<TypedText client:load />
</Layout>
