---
import TypedText from '@components/typedText/TypedText.svelte'
import Layout from '../layout/indexLayout.astro'
import Particles from '@components/space/Particles.svelte'
---

<Layout title="Andrea Locatelli dev.">
	<h1>
		Hi! I'm <span class="font-bold text-apricot-700">Andrea</span>
	</h1>
	<TypedText client:load />
</Layout>
