---
import Layout from './layout.astro'
import Particles from '../components/space/App.svelte'
---

<Layout title="Andrea Locatelli dev.">
	<div
		class="flex min-h-[calc(100vh-96px)] flex-col items-center justify-center gap-4 px-8 text-7xl tracking-wide text-apricot-200"
	>
		<h1>
			Hi! I'm <span class="font-bold text-apricot-700">Andrea</span>
		</h1>
		<h1 class="text-4xl font-light">I'm a web/mobile developer.</h1>
	</div>
	<Particles client:load />
</Layout>
