---
import '@fontsource/poppins'
import '@fontsource/space-mono'
import Header from '../components/header/Header.astro'
import Particles from '@components/space/Particles.svelte'

import { ViewTransitions } from 'astro:transitions'

interface Props {
	title: string
	description: string
}
const { title, description } = Astro.props
---

<html lang="en">
	<head>
		<base href={import.meta.env.BASE_URL} />
		<link rel="shortcut icon" type="image/x-icon" href={import.meta.env.BASE_URL + 'favicon.ico'} />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{title} | {description.slice(0, 10) + '...'}</title>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="keywords" content="HTML, CSS, JavaScript, Astro, Blog, About" />
		<meta name="author" content="Andrea Locatelli" />

		<link rel="sitemap" href="/sitemap-index.xml" />
	</head>
	<ViewTransitions />

	<body class="bg-dark_slate_gray-900 text-apricot-200">
		<Header trasparent={true} />
		<main
			class="flex h-[calc(100dvh)] flex-col items-center justify-center gap-4 px-8 text-6xl tracking-wide text-apricot-200 sm:text-7xl"
		>
			<slot />
		</main>
		<Particles client:load />
	</body>

</html>
