---
import '@fontsource/poppins'
import '@fontsource/space-mono'
import Header from '../components/header/Header.astro'
interface Props {
	title: string
	description: string
}
const { title, description } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{title} | {description}</title>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="keywords" content="HTML, CSS, JavaScript, Astro, Blog, About" />
		<meta name="author" content="Andrea Locatelli" />
	</head>
	<body class="bg-dark_slate_gray-900 text-apricot-200">
		<Header />
		<main
			class="container mx-auto mb-12 mt-28 flex min-h-[calc(100dvh-128px)] items-center justify-center px-4 sm:mb-0 sm:px-0"
		>
			<slot />
		</main>
	</body>
</html>

<style>
	body::-webkit-scrollbar {
		width: 4px;
	}
	body::-webkit-scrollbar-thumb {
		@apply bg-apricot-700;
	}
</style>
